/*general styles*/

body {
  margin: 0;
  padding: 0;
  background-color: hsl(233, 47%, 7%);
}
html {
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  height: 100vh;
  max-width: 1440px;
}

/*card*/

.card {
  display: flex;
  height: 450px;
  width: 1000px;
  border-radius: 15px;
}

.card-content {
  max-width: 500px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 15px 0 0 15px;
}

/* card text */

.card-text {
  padding: 60px;
}

.card-text h1 {
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 30px;
}

.card-text h1 span {
  color: hsl(277, 64%, 61%);
}

.card-text p {
  font-family: "Inter", sans-serif;
  font-size: 0.94rem;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 40px;
  line-height: 1.5rem;
}

.card-info {
  font-family: "Inter", sans-serif;
  gap: 30px;
  display: flex;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-top: 90px;
}

.card-info p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}

/* card img */

.card-img {
  width: 500px;
  height: 450px;
  background-image: url(images/image-header-desktop.jpg);
  background-size: cover;
  border-radius: 0 15px 15px 0;
}

.img-color {
  background-color: hsla(277, 58%, 37%, 0.404);
  width: 500px;
  height: 450px;
  border-radius: 0 15px 15px 0;
}

@media (max-width: 1020px) {
  .container {
    max-width: 100%;
    height: 100vh;
  }
  .card {
    background-color: antiquewhite;
    height: 100vh;
    max-width: 360px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 10px;
  }

  .card-img {
    height: 240px;
    background-image: url(images/image-header-mobile.jpg);
    background-size: 360px;
    background-repeat: no-repeat;
    order: -1;
    border-radius: 15px 15px 0 0;
  }
  .img-color {
    width: 360px;
    height: 240px;
    border-radius: 15px 15px 0 0;
  }

  .card-content {
    width: 360px;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }

  .card-text p {
    margin-bottom: -20px;
  }

  .card-info {
    margin-top: 50px;
    flex-direction: column;
  }
}
